body {
    background-color: #E0DCDB;
}

#simonGame {
    background-color:black;
    height:450px;
    width:450px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    border-radius: 50%;
}

#green {
    background-color: green;
    height: 180px;
    width:180px;
    position: relative;
    top: 30px;
    left:35px;
    float: left;
    border-radius: 100% 0 0 0;
    z-index: 100;
}

#red {
    background-color: red;
    height: 180px;
    width:180px;
    position: relative;
    top: 30px;
    left: -35px;
    float: right;
    border-radius: 0 100% 0 0;
    z-index: 100;
}

#yellow {
    background-color: yellow;
    height:180px;
    width:180px;
    position: relative;
    top: 40px;
    left:35px;
    float: left;
    border-radius: 0 0 0 100%;
    z-index: 100;
}

#blue {
    background-color: blue;
    height: 180px;
    width:180px;
    position: relative;
    top: 40px;
    left: -35px;
    float: right;
    border-radius: 0 0 100% 0;
    z-index: 100;
}

#centerBlack {
    height: 200px;
    width:200px;
    border-radius: 50%;
    left:125px;
    top: 125px;
    position: relative;
    z-index: 101;
    background-color: black;
}