body {
    background-color: #0074D9;
    color: white;
    text-align: center;
    font-family: "Arial", Times, serif;

}

#simonGame {
    background-color:black;
    height:450px;
    width:450px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    border-radius: 50%;
}

#green {
    background-color: green;
    height: 180px;
    width:180px;
    position: relative;
    top: 30px;
    left:35px;
    float: left;
    border-radius: 100% 0 0 0;
    z-index: 100;
    opacity: 0.5;
    border:none;
}

#red {
    background-color: red;
    height: 180px;
    width:180px;
    position: relative;
    top: 30px;
    left: -35px;
    float: right;
    border-radius: 0 100% 0 0;
    z-index: 100;
    opacity: 0.5;
    border:none;
}

#yellow {
    background-color: yellow;
    height:180px;
    width:180px;
    position: relative;
    top: 40px;
    left:35px;
    float: left;
    border-radius: 0 0 0 100%;
    z-index: 100;
    opacity: 0.5;
    border:none;
}

#blue {
    background-color: blue;
    height: 180px;
    width:180px;
    position: relative;
    top: 40px;
    left: -35px;
    float: right;
    border-radius: 0 0 100% 0;
    z-index: 100;
    opacity: 0.5;
    border:none;
}

#centerBlack {
    height: 200px;
    width:200px;
    border-radius: 50%;
    left:125px;
    top: 125px;
    position: relative;
    z-index: 101;
    background-color: black;
    text-align: center; 
}

#simonText {
    color:white;
    position: relative;
    bottom: 140px;
    font-size: 2.75em;
    font-family: electrFont;
    z-index: 101;
}

#clearFloat {
    clear:both;
}


#visor {
    position: absolute;
    right: 64%;
    bottom: 50px;
    width: 50px;
    height: 50px;
    font-size: 3em;
    margin:auto;
    text-align: right;
    z-index: 101;
    background-color: black;
    font-family: digiFont;
    color:#CA070F;
    border: 2px solid grey ;
}

button:focus {
    outline:none;
}

button:disabled {
    background-color: grey !important;
}

button:hover {
    background-color: #328fe0 !important;
}

button:active {
    background-color: #005cad !important;
}

#strict {
    position: absolute;
    bottom: 49px;
    right: 10%;
    z-index: 101;
    width:100px;
    height:25px;
    border:none;
    background-color: #0074D9;
    color: white;
}



#start {
    position: absolute;
    bottom: 76px;
    right: 10%;
    z-index: 101;
    width:100px;
    height:25px;
    border:none;
    background-color: #0074D9;
    color: white;
}





.selected {
    opacity: 1 !important;
}


@font-face {
    font-family: electrFont;
    src: url(../fonts/electr.ttf);
}

@font-face {
    font-family: digiFont;
    src: url(../fonts/ds-digi.ttf);
}

hr {
    margin-top: 25px;
    width:25%;
  }

  a {
    color:black;
  }
  
  a:hover {
    color:grey;
  }

/* Media Queries */

@media screen and (max-width: 700px) {
    
    hr {
    margin-top: 60px;
    width:50%;
  }
  }

  @media screen and (max-width: 480px) {

    #simonGame {
        background-color:black;
        height:300px;
        width:300px;
        margin: 0 auto;
        position: relative;
        z-index: 99;
        border-radius: 50%;
    }

    #green {
        background-color: green;
        height: 120px;
        width:120px;
        position: relative;
        top: 20px;
        left:20px;
        float: left;
        border-radius: 100% 0 0 0;
        z-index: 100;
        opacity: 0.5;
        border:none;
    }
    
    #red {
        background-color: red;
        height: 120px;
        width:120px;
        position: relative;
        top: 20px;
        left: -20px;
        float: right;
        border-radius: 0 100% 0 0;
        z-index: 100;
        opacity: 0.5;
        border:none;
    }
    
    #yellow {
        background-color: yellow;
        height:120px;
        width:120px;
        position: relative;
        top: 10px;
        left:20px;
        float: left;
        border-radius: 0 0 0 100%;
        z-index: 100;
        opacity: 0.5;
        border:none;
    }
    
    #blue {
        background-color: blue;
        height: 120px;
        width:120px;
        position: relative;
        top: 10px;
        left: -20px;
        float: right;
        border-radius: 0 0 100% 0;
        z-index: 100;
        opacity: 0.5;
        border:none;
    }

    #centerBlack {
        height: 150px;
        width:200px;
        left:60px;
        top: 325px;
        position: relative;
        z-index: 101;
        background-color: black;
        text-align: center; 
        border-radius: 20%;
    }

    #simonText {
        color:white;
        position: relative;
        bottom: 120px;
        font-size: 2.75em;
        font-family: electrFont;
        z-index: 101;
    }

    
    hr {
    margin-top: 200px;
    width:75%;
  }
  }  